body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing_container {
  font-family: 'Montserrat', serif !important;
  height: 100vh;
  /*max-width: 940px;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 0 20px;
  background-color: #150335;
}

.landing_container h2 {
  color: #F21947;
  font-weight: bolder;
  font-size: 1.5rem !important;
  margin-bottom: 0;
  letter-spacing: normal !important;
  line-height: normal !important;
  margin-top: 0.83em !important;
}

.landing_container p {
  font-family: 'Montserrat', serif !important;
  font-size: 14px !important;
  margin-top: 5px;
  max-width: 500px;
  letter-spacing: normal !important;
  line-height: normal !important;
}

.landing_content {
  padding-top: 100px;
}

.logos {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.logos a {
  margin: 0 20px;
}

.logos img {
  height: 30px;
  width: auto;
}

.disclaimers {
  font-size: 10px;
  line-height: 13px;
  max-width: 900px;
}

#tokr_logo {
  height: auto;
  max-width: 500px;
}
